/* Botón de revisión deshabilitado */
.dashboard-wrapper #runReviewFQO:disabled,
.dashboard-wrapper #exportFQOuva:disabled {
    background: #b8c2cc;
    color: #fff;
    cursor: not-allowed;
    opacity: 0.7; /* opcional para que se vea más apagado */
}