/* Botones desactivados en el módulo Espárrago */
.dashboard-wrapper #runReviewPlagasEsparrago:disabled,
.dashboard-wrapper #exportPlagasEsparrago:disabled {
    background: #b8c2cc;
    cursor: not-allowed;
    opacity: 0.7;
}

/* FOCUS */
.controls select:focus-visible,
.controls input[type="file"]:focus-visible {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
  outline: none;
}

.dashboard-wrapper .controls > div {
    display: flex;
    flex-direction: column;
    cursor: not-allowed;
}

/* ============================ SELECT COSECHA (DESHABILITADO) ============================ */


/* Select LMR deshabilitado pero visible */
#updateDatePlagasEsparrago {
  width: 63%;
  min-width: 20ch;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #555;
  cursor: not-allowed;
  pointer-events: none;
  appearance: none;

  text-align: center;
  text-align-last: center;
  
}

#inspectionDatePlagasEsparrago:hover,
#inspectionTypePlagasEsparrago:hover {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* ============================ SELECT INSPECCIÓN ============================ */
#inspectionDatePlagasEsparrago {
    width: 100%;
    min-width: 24ch;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D'10'%20height%3D'7'%20viewBox%3D'0%200%2010%207'%20fill%3D'none'%20xmlns%3D'http://www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M1%201L5%206L9%201'%20stroke%3D'%23333'%20stroke-width%3D'1.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 10px 7px;
    padding-right: 35px;
}


/* CONTADOR TOTAL */
#totalFilasPlagasEsparrago {
  margin-top: 8px;
  font-weight: 600;
  font-size: 13px;
  color: #333;
  margin-bottom: 5px;
}